In [2]:
# install pandas and parquet
!pip install pandas
!pip install parquet
!pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/stipe7777/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/stipe7777/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /home/stipe7777/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/stipe7777/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: parquet in /home/stipe7777/.local/lib/python3.10/site-packages (1.3.1)
Requirement already satisfied: thriftpy2 in /home/stipe7777/.local/lib/python3.10/site-packages (from parquet) (0.4.20)
Requirement already satisfied: ply<4.0,>=3.4 in /usr/lib/python3/dist-packages (from thriftpy2->parquet) (3.11)
Requirement already satisfied: six~=1.15 in /usr/lib/python3/dist-packages (from thriftpy2->parquet) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/stipe7777/.local/lib/python3.10/site-packages (15.0.1)
Requirement already satisfied: numpy<2,>=1.16.6 in /home/stipe7777/.local/lib/python3.10/site-packages (from pyarrow) (1.26.4)

Opis kolona:

datum_dolaska - datum kada bi gost trebao stići u hotel
datum_kreiranja_rezervacije - datum kada je rezervacija kreirana
datum_odjave - datum kada je gost napustio hotel
datum_otkazivanja_rezervacije - datum kada je rezervacija otkazana
broj_odraslih_gostiju - broj odraslih koji će boraviti u rezerviranim sobama
broj_djece_gostiju - broj djece koji će boraviti u rezerviranim sobama
zemlja_gosta - zemlja iz koje gost dolazi. Kategorije su zapisane u ISO 3155–3:2013 formatu
kanal_prodaje_id - id kanala prodaje preko kojeg je rezervacija napravljena (primjeri: direktna rezervacija, agencija, online)
tip_sobe_id - id tipa sobe koju je gost rezervirao
cijena_nocenja - cijena jednog noćenja za pojedinu rezeraciju
status_rezervacije - status rezervacije (Check-Out, Canceled, No-Show)
rezervacija_id - id rezervacije
gost_id - id gosta

In [3]:
import pandas as pd
dataset_path = './data/lumen/train.parquet'

/home/stipe7777/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/stipe7777/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [4]:
df = pd.read_parquet(dataset_path)
df.head()

,reservation_id,night_number,stay_date,guest_id,guest_country_id,reservation_status,reservation_date,date_from,date_to,resort_id,...,price,price_tax,total_price_tax,total_price,food_price,food_price_tax,other_price,other_price_tax,room_category_id,sales_channel_id
0,73710,1.0,2007-12-13,22897,HR,Checked-out,2007-11-28,2007-12-13,2007-12-15,1,...,4255.462,425.517,452.089,4564.690,265.428,26.572,43.800,0.000,3,10.0
1,73710,2.0,2007-12-14,22897,HR,Checked-out,2007-11-28,2007-12-13,2007-12-15,1,...,4243.709,424.349,450.921,4552.937,265.428,26.572,43.800,0.000,3,10.0
2,74464,1.0,2008-01-01,106278,HR,Checked-out,2007-12-29,2008-01-01,2008-01-02,1,...,4336.857,433.693,3806.147,19764.823,530.929,53.071,14897.037,3319.383,4,4.0
3,74461,1.0,2008-01-01,38936,GB,Cancelled,2007-12-29,2008-01-01,2008-01-02,1,...,8536.766,853.662,1012.948,10392.280,1592.714,159.286,262.800,0.000,5,3.0
4,74466,1.0,2008-01-01,106279,HR,Cancelled,2007-12-29,2008-01-01,2008-01-03,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31634 entries, 0 to 31633
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reservation_id      31634 non-null  int64
 1   night_number        31634 non-null  float64
 2   stay_date           31634 non-null  datetime64[ns]
 3   guest_id            31634 non-null  int64
 4   guest_country_id    31634 non-null  object
 5   reservation_status  31634 non-null  object
 6   reservation_date    31634 non-null  object
 7   date_from           31634 non-null  object
 8   date_to             31634 non-null  object
 9   resort_id           31634 non-null  int64
 10  cancel_date         6151 non-null   object
 11  room_cnt            31634 non-null  int64
 12  adult_cnt           31634 non-null  int64
 13  children_cnt        31634 non-null  int64
 14  price               27860 non-null  float64
 15  price_tax           27860 non-null  float64
 16  total_price_tax     28076 non-null  float64
 17  total_price         28076 non-null  float64
 18  food_price          27860 non-null  float64
 19  food_price_tax      27860 non-null  float64
 20  other_price         27860 non-null  float64
 21  other_price_tax     27860 non-null  float64
 22  room_category_id    31634 non-null  int64
 23  sales_channel_id    31634 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(7), object(6)
memory usage: 5.8+ MB

In [6]:
df.describe()

,reservation_id,night_number,stay_date,guest_id,resort_id,room_cnt,adult_cnt,children_cnt,price,price_tax,total_price_tax,total_price,food_price,food_price_tax,other_price,other_price_tax,room_category_id,sales_channel_id
count,31634.000000,31634.000000,31634,31634.000000,31634.0,31634.000000,31634.000000,31634.000000,27860.000000,27860.000000,28076.000000,28076.000000,27860.000000,27860.000000,27860.000000,27860.000000,31634.000000,31634.000000
mean,82726.976102,4.928874,2009-01-04 07:23:16.800910336,66420.902067,1.0,2.581178,3.837169,0.000158,12366.242495,1236.536998,1530.393681,15810.696197,1283.381136,128.299446,2276.642024,176.647816,3.533287,4.894512
min,13685.000000,1.000000,2007-12-13 00:00:00,104.000000,1.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,78400.250000,1.000000,2008-07-04 00:00:00,23589.000000,1.0,1.000000,1.000000,0.000000,1835.460000,183.540000,206.265000,2104.650000,170.910000,17.080000,51.100000,0.000000,2.000000,2.000000
50%,82905.500000,2.000000,2009-01-01 00:00:00,63575.000000,1.0,1.000000,1.000000,0.000000,5198.184000,519.833000,611.010000,6314.974500,623.785000,62.342000,244.550000,0.000000,3.000000,3.000000
75%,87132.750000,4.000000,2009-07-12 00:00:00,107000.750000,1.0,1.000000,2.000000,0.000000,15339.088500,1533.803000,1850.769000,18818.286750,1559.499000,155.855000,2002.463000,119.793000,5.000000,10.000000
max,91366.000000,226.000000,2009-12-31 00:00:00,149866.000000,1.0,60.000000,60.000000,1.000000,395442.387000,39544.976000,47315.680000,467782.613000,37741.730000,3773.370000,234320.145000,15441.325000,11.000000,18.000000
std,5023.282235,12.878147,NaN,42866.831472,0.0,5.172606,8.683641,0.012571,20590.179794,2059.042719,2622.469055,27079.984236,2488.930538,248.911415,5733.679232,507.996673,1.554350,3.574326